<!DOCTYPE html>
<html>
  <head>
    <title>User Information</title>
  </head>
  <body>
    <h1>User Information</h1>
    <form action="/user/{{ account['id'] }}" method="post">
      <p>
        <label for="username">Name:</label>
        <input type="text" name="username" id="username" value="{{ account['username'] }}">
      </p>
      <p>
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" value="{{ account['email'] }}">
      </p>
      <p>
        <label for="phone">Phone:</label>
        <input type="text" name="phone" id="phone" value="{{ account['phone'] }}">
      </p>
      <p>
        <label for="address">Address:</label>
        <textarea name="address" id="address">{{ account['address'] }}</textarea>
      </p>
      <p>
        <input type="submit" value="Save">
      </p>
    </form>
  </body>
</html>