<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Register</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
		<script type="text/javascript">
			$(document).ready(function() {
				$('#password').keyup(function() {
					var password = $(this).val();
					$('#password-strength').html(checkStrength(password));
				});

				function checkStrength(password) {
					var strength = 0;
					if (password.match(/[a-zA-Z0-9][a-zA-Z0-9]+/)) {
						strength += 1;
					}
					if (password.match(/[~`!@#$%^&*()_+-={}[\]|\\:;"'<>,.?/]/)) {
						strength += 1;
					}
					if (password.length > 7) {
						strength += 1;
					}
					switch (strength) {
						case 0:
							return "Too weak";
							break;
						case 1:
							return "Weak";
							break;
						case 2:
							return "Good";
							break;
						case 3:
							return "Strong";
							break;
						default:
							return "";
							break;
					}
				}
			});
		</script>
	</head>
	<body>
		<div class="register">
			<h1>Register</h1>
			<div class="links">
				<a href="{{ url_for('login') }}">Login</a>
				<a href="{{ url_for('register') }}" class="active">Register</a>
			</div>
			<form action="{{ url_for('register') }}" method="post" autocomplete="off">
				<label for="username">
					<i class="fas fa-user"></i>
				</label>
				<input type="text" name="username" placeholder="Username" id="username" required>
                <label for="password">
					<i class="fas fa-lock"></i>
				</label>
				<input type="password" name="password" placeholder="Password" id="password" required>
				<label for="confirm-password">
					<i class="fas fa-unlock"></i>
				</label>
				<input type="password" name="confirm-password" placeholder="Confirm Password" id="confirm-password" required>
				<div class="msg">{{ msg }}</div>
				<input type="submit" value="Register">
			</form>
		</div>
	</body>
</html>