{% extends 'layout.html' %}
{% block title %}User{% endblock %}
{% block content %}
    <h2>Employee Information</h2>
        <div>
            <div>
                <input type="file">
                <button type="button" class="btn" onclick="showAddPopup()">Add</button>
                <!--<button onclick="importFile()">Import File</button>-->
            </div>
            <script type="text/javascript">
                function importFile() {
                    var input = document.getElementById("inputFile");
                    var file = input.files[0];
                    var reader = new FileReader();
                    reader.onload = function(event) {
                        var data = event.target.result;
                        var workbook = XLSX.read(data, { type: "binary" });
                        var jsonData = workbook_to_json(workbook);
                        console.log(jsonData);
                    };
                    reader.readAsBinaryString(file);
                }

                function workbook_to_json(workbook) {
                    var result = {};
                    workbook.SheetNames.forEach(function(sheetName) {
                        var roa = XLSX.utils.sheet_to_row_object_array(workbook.Sheets[sheetName]);
                        if (roa.length > 0) {
                            result[sheetName] = roa;
                        }
                    });
                    return result;
                }
            </script>
        </div>
        {% if employee %}
            {% for user in employee %}
                <div>
                    <!--Info about employee-->
                    <table>
                        <tr>
                            <td>ID:</td>
                            <td>{{ user.id }}</td>
                        </tr>
                        <tr>
                            <td>Lastname:</td>
                            <td>{{ user.lastname }}</td>
                        </tr>
                        <tr>
                            <td>Firstname:</td>
                            <td>{{ user.firstname }}</td>
                        </tr>
                        <tr>
                            <td>Job:</td>
                            <td>{{ user.job }}</td>
                        </tr>
                        <tr>
                            <td>Department:</td>
                            <td>{{ user.department }}</td>
                        </tr>
                        <tr>
                            <td>Age:</td>
                            <td>{{ user.age }}</td>
                        </tr>
                        <tr>
                            <td>Phone Number:</td>
                            <td>{{ user.phone_no }}</td>
                        </tr>
                        <tr>
                            <td>Email:</td>
                            <td>{{ user.email }}</td>
                        </tr>
                        <tr>
                            <td>Address:</td>
                            <td>{{ user.address }}</td>
                        </tr>
                    </table>
                    <!--Create 2 btn Fix, Delete-->
                    <tr>

                        <button type="button" class="btn1" onclick="showEditPopup({{ user.id }})">Edit</button>
                        <button type="button" class="btn2" onclick="showPopup({{ user.id }})">Delete</button>
                    </tr>
                    <!--Popup for deleting an employee-->
                    <div class="popup" id="popup">
                        <div class="popup-content">
                            <p>Are you sure you want to delete?</p>
                            <button class="ok-btn" onclick="deleteEmployee()">OK</button>
                            <button class="cancel-btn" onclick="hidePopup()">Cancel</button>
                            <button class="close-btn" onclick="hidePopup()" >x</button>
                        </div>
                    </div>
                    <!--Popup for editing an employee-->
                    <div class="popup1" id="edit-popup">
                        <div class="popup-content1">
                            <form id="edit-form">
                                <h2>Edit Employee</h2>
                                <label for="lastname">Lastname:</label>
                                <input type="text" id="lastname" name="lastname"><br><br>
                                <label for="firstname">Firstname:</label>
                                <input type="text" id="firstname" name="firstname"><br><br>
                                <label for="job">Job:</label>
                                <input type="text" id="job" name="job"><br><br>
                                <label for="department">Department:</label>
                                <input type="text" id="department" name="department"><br><br>
                                <label for="age">Age:</label>
                                <input type="text" id="age" name="age"><br><br>
                                <label for="phone_no">Phone Number:</label>
                                <input type="text" id="phone_no" name="phone_no"><br><br>
                                <label for="email">Email:</label>
                                <input type="email" id="email" name="email"><br><br>
                                <label for="address">Address:</label>
                                <input type="text" id="address" name="address"><br><br>
                                <input type="hidden" id="edit-id" name="id">
                                <button type="button" class="ok-btn1" onclick="submitEditForm()">OK</button>
                                <button type="button" class="cancel-btn1" onclick="hideEditPopup()">Cancel</button>
                                <button type="button" class="close-btn1" onclick="hideEditPopup()">x</button>
                            </form>
                        </div>
                    </div>
                    <!--Popup for adding an employee-->
                    <div class="popup1" id="add-popup">
                        <div class="popup-content1">
                            <form id="add-form">
                                <h2>Add Employee</h2>
                                <label for="lastname">Lastname:</label>
                                <input type="text" id="lastname" name="lastname"><br><br>
                                <label for="firstname">Firstname:</label>
                                <input type="text" id="firstname" name="firstname"><br><br>
                                <label for="department">Department:</label>
                                <input type="text" id="department" name="department"><br><br>
                                <label for="age">Age:</label>
                                <input type="text" id="age" name="age"><br><br>
                                <label for="phone_no">Phone Number:</label>
                                <input type="text" id="phone_no" name="phone_no"><br><br>
                                <label for="email">Email:</label>
                                <input type="email" id="email" name="email"><br><br>
                                <label for="address">Address:</label>
                                <input type="text" id="address" name="address"><br><br>
                                <button type="button" class="ok-btn1" onclick="submitAddForm()">Add</button>
                                <button type="button" class="cancel-btn1" onclick="hideAddPopup()">Cancel</button>
                                <button type="button" class="close-btn1" onclick="hideAddPopup()">x</button>
                            </form>
                        </div>
                    </div>
                    <script type="text/javascript">
                        //The Javascript code about function delete
                        var employeeId;
                        function showPopup(id) {
                            employeeId = id;
                            var popup = document.getElementById("popup");
                            popup.style.display = "block";
                        }
                        function deleteEmployee() {
                            fetch('/delete_employee/' + employeeId, {
                                method: 'DELETE'
                            })
                           .then(response => response.json())
                           .then(data => {
                                console.log(data.message);
                                location.reload();
                           })
                           .catch(error => console.error(error))
                        }
                        function hidePopup() {
                            var popup = document.getElementById("popup");
                            popup.style.display = "none";
                        }
                        //The Javascript code about function edit
                        function showEditPopup(id) {
                            employeeId = id;
                            // Get the popup element
                            var popup = document.getElementById("edit-popup");
                            // Set the popup to be visible
                            popup.style.display = "block";
                            // Get the form element
                            var form = document.getElementById("edit-form");
                            // Get the user data from the server using an AJAX call
                            fetch(`/edit_employee/${id}`)
                                .then(response => response.json())
                                .then(data => {
                                    // Set the form values to the user data
                                    form.elements["id"].value = data.id;
                                    form.elements["lastname"].value = data.lastname;
                                    form.elements["firstname"].value = data.firstname;
                                    form.elements["job"].value = data.job;
                                    form.elements["department"].value = data.department;
                                    form.elements["age"].value = data.age;
                                    form.elements["phone_no"].value = data.phone_no;
                                    form.elements["email"].value = data.email;
                                    form.elements["address"].value = data.address;
                                })
                                .catch(error => console.error(error))
                            }
                        function hideEditPopup() {
                            // Get the popup element
                            var popup = document.getElementById("edit-popup");
                            // Hide the popup
                            popup.style.display = "none";
                        }
                        function submitEditForm() {
                            // Get the form element
                            var form = document.getElementById("edit-form");
                            // Get the form data
                            var formData = new FormData(form);
                            // Send the form data to the server using an AJAX call
                            fetch(`/edit_employee/${employeeId}`, {
                                method: "POST",
                                body: formData
                            })
                                .then(response => response.json())
                                .then(data => {
                                    console.log(data.message);
                                    // Reload the page to see the updated data
                                    location.reload();
                                })
                                .catch(error => console.error(error))
                        }
                        document.querySelector("#edit-popup .ok-btn1").addEventListener("click", function(event) {
                            submitEditForm();
                            hideEditPopup();
                        });
                        //The Javascript code about function add
                        function showAddPopup() {
                            // Get the popup element
                            var popup = document.getElementById("add-popup");
                            // Set the popup to be visible
                            popup.style.display = "block";
                        }
                        function hideAddPopup() {
                            // Get the popup element
                            var popup = document.getElementById("add-popup");
                            // Hide the popup
                            popup.style.display = "none";
                        }
                        function submitAddForm() {
                            // Get the form element
                            var form = document.getElementById("add-form");
                            // Get the form data
                            var formData = new FormData(form);
                            // Send the form data to the server using an AJAX call
                            fetch("/add_employee", {
                                method: "POST",
                                body: formData
                            })
                                .then(response => response.json())
                                .then(data => {
                                    console.log(data.message);
                                    // Reload the page to see the updated data
                                    location.reload();
                                })
                                .catch(error => console.error(error))
                        }
                        document.querySelector("#add-popup .ok-btn1").addEventListener("click", function(event) {
                            // Get the employee ID element
                            var employeeIdElement = document.getElementById("employee_id");
                            // Get the last employee ID from the table
                            var lastEmployeeId = document.querySelector("#employee_list tbody tr:last-child td:first-child").innerHTML;
                            // Convert the last employee ID to a number and increment by 1
                            var newEmployeeId = parseInt(lastEmployeeId) + 1;
                            // Set the new employee ID in the form
                            employeeIdElement.value = newEmployeeId;
                            // Submit the form
                            submitAddForm();
                            // Hide the popup
                            hideAddPopup();
                        });
	                </script>

                </div>
            {% endfor %}
        {% else %}
            <p>No user found.</p>
        {% endif %}
{% endblock %}
